<section id="admin_top_bar">
	<a href="?<?= TAG_ACTION ?>=<?= ACTION_LOGINADMIN ?>" class="top_bar_link">Affichage accueil</a>
	<a href="?<?= TAG_ACTION ?>=<?= ACTION_HOME ?>" class="top_bar_link">Affichage Utilisateur</a>
</section>

<section>
	<div id="reported_comments_text"><p>Cette section contient les commentaires signalés.<br />
	Si le commentaire est innaproprié, vous pouvez le supprimer.<br />
	Si ce n'est pas le cas, vous pouvez supprimer le signalement.</p></div>
	<?php
	foreach($comments as $data)
	{
	?>
	    <div class="admin_comment_box">
	        <div>
	            <strong><?= $data->getUser()->getUsername() ?></strong><em> le <?= $data->getDate() ?></em>
	        </div>
		                
	    	<div>
		        <p class="content_list_post_view">
		           	<?= $data->getContent() ?>
		        </p>
		    </div>
		    <div class="edit_comments_box">
		    	<a href="?<?= TAG_ACTION ?>=<?= ACTION_NORMALISECOMMENT ?>&<?= TAG_IDCOMMENT ?>=<?= $data->getId() ?>" class="normalise_comment">Normaliser</a>
		    	<a href="?<?= TAG_ACTION ?>=<?= ACTION_DELETECOMMENT ?>&<?= TAG_IDCOMMENT ?>=<?= $data->getId() ?>" class="delete_comment">Supprimer</a>
		    </div>
		</div>
	<?php
	}
	?>	
</section>