<section id="home_text_section">
    <h2>Bienvenue sur le blog de Jean Forteroche</h2>
    <p id="home_text">N'attendez plus pour découvrir le célèbre web-book du futur prix nobel de littérature et aventurier à ses heures perdues.<br />
	N'hésitez pas à créer votre propre compte pour pouvoir interagir avec l'immense communauté qui s'est formée autour de l'oeuvre.<br />
	Un billet simple pour l'Alaska, l'aventure d'une vie, une lecture qui vous fera voyager...</p>
    <h2>Derniers articles du blog :</h2>
</section>