<section>
	<div id="block_articles">
		<?php
		foreach($posts as $data)
		{
		?>
		    <a href="?<?= TAG_ACTION ?>=<?= ACTION_POST ?>&<?= TAG_IDPOST ?>=<?= $data->getId() ?>" class="article">
		        <div>
		            <span class="title_list_post"><?= $data->getTitle() ?></span>
		            <em>le <?= $data->getDate() ?></em>
		        </div>
		                
		       	<div class="content_list_post_view">
		            <?= $data->getContent() ?>
		        </div>
		    </a>
		<?php
		}
		?>
	</div>
</section>