<section>
	<div id="block_articles">
		<?php
		foreach($posts as $data)
		{
		?>
		    <a href="?<?= TAG_ACTION ?>=<?= ACTION_POST ?>&<?= TAG_IDPOST ?>=<?= $data->getId() ?>" class="article">
		        <div>
		            <span class="title_list_post"><?= $data->getTitle() ?></span>
		            <em>le <?= $data->getDate() ?></em>
		        </div>
		                
		        <div>
		        	<p class="content_list_post_view">
		            	<?= $data->getContent() ?>
		            </p>
		        </div>
		    </a>
		<?php
		}
		?>
	</div>
</section>

<!--
PostManager : Faire une boucle For ou Foreach pour créer toutes les instances de classe et les mettre dans un tableau   OKAYYYYYYY
listPostsView : Faire une boucle pour créer un article par instance à partir du tableau    OKAYYYYYYY
ensuite:
	Créer un contrôleur pour les articles
	Router : S'occuper de $post = $controller->post($idPost);
	Router : S'occuper de $posts = $controller->articleListPosts();
	S'occuper des commentaires
	Connexion admin via .htaccess
-->