<section class="form_section">
	<form method="post" action="?<?= TAG_ACTION ?>=<?= ACTION_LOGINSUBMIT ?>" class="form">
		<h2>Connectez-vous</h2>
	       <label  for="login">Identifiant</label>
	       <br />
	       <input type="text" name="login" class="id_login" />
	       
	       <br />
	       <label for="pass">Mot de passe</label>
	       <br />
	       <input type="password" name="pass" class="password_login" />

	       <br />
	       <input type="submit" value="Connexion" />
	</form>
</section>