<section>
	<div class="single_article">

		<div>
		    <h3 class="title_list_post"><?= $post->getTitle() ?></h3>
		    <em>le <?= $post->getDate() ?></em>
		</div>
		                
		<div>
		 	<p class="single_content_list_post_view">
		     	<?= $post->getContent() ?>
		    </p>

		</div>
	</div>
	<div class="comments_box">
		<h4>Commentaires</h4>
		<?php
		while ($comment = $comments->fetch())
		{
		?>
			<p><strong><?= htmlspecialchars($comment['username']) ?></strong> le <?= $comment['date'] ?></p>
           	<p><?= nl2br(htmlspecialchars($comment['content'])) ?></p>
	    <?php
	    }
	    $comments->closeCursor();
	    ?>
	</div>
</section>