<section>
	<div class="single_article">

		<div>
		    <h3 class="title_list_post"><?= $post->getTitle() ?></h3>
		    <em>le <?= $post->getDate() ?></em>
		</div>
		                
		<div>
		 	<p class="single_content_list_post_view">
		     	<?= $post->getContent() ?>
		    </p>

		</div>
	</div>
	<div class="comments_box">
		<h3>Commentaires</h3>
		<?php
		foreach($comments as $comment)
		{
		?>
		<div class="comment_box_report">
			<div class="comment_box">
				<div class="comment_box_username"><?= $comment->getUser()->getUsername() ?></div>
	           	<p class="comment_box_content"><?= $comment->getContent() ?></p>
		    </div>
		    <a href="?<?= TAG_ACTION ?>=<?= ACTION_REPORTCOMMENT ?>&<?= TAG_IDPOST ?>=<?= $comment->getArticles() ?>&<?= TAG_IDCOMMENT ?>=<?= $comment->getId() ?>" class="report_link">Signaler</a>
	    </div>
	    <?php
	    }
	    ?>
	</div>
</section>